<!--====================================================================
                          Start Home
  =====================================================================-->
<section class="home" id="home">
    <div id="particles-js"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 sm-offset-2 mx-auto">
                <div class="banner-content text-center">
                    <h1>DIGITAL TRANSFORMATION</h1>
                    <p>
                        Data Design is a 3D process coordinator
                        that intelligently designs digital virtual space.
                        With advanced 3D technology
                    </p>
                </div>
                <!--End banner-content-->
            </div>
            <!--End col-sm-8-->
        </div>
        <!--End row-->
        <div class="drop-down">
            <a href="#introduction"> Scroll Down</a>
            <span class="drop-line"></span>
        </div>
        <!--End drop-down-->
    </div>
    <!--End container-->
</section>
<!--====================================================================
                        End Home
=====================================================================-->
<!--====================================================================
                        Start Introduction
=====================================================================-->
<style>
    .introduction-icon img {
        width: 43px !important;
    }
</style>
<section class="introduction pt-100 pb-70" id="introduction">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rectangle-one"></div>
                <div class="triangle-one"></div>
                <div class="rectangle-two"></div>
            </div>
            <div class="col-lg-12 owl-carousel">

                <div class="introduction-content">
                    <div class="introduction-icon color2">
                        <span class="icon"><img src="https://www.datadesign.co.th/images/icon/3dgatoway_color.png" /></span>
                        <span class="icon icon-linegraph bg-icon"></span>
                    </div>
                    <!--End introduction-icon-->
                    <div class="introduction-inner">
                        <h4>@Resources.Card_Gate</h4>
                        <p>
                            @Resources.Card_Gate_detail
                        </p>
                    </div>
                    <!--End introduction-inner-->
                </div>
                <!--End introduction-content-->
                <div class="introduction-content">
                    <div class="introduction-icon color3">
                        <span class="icon "><img src="https://www.datadesign.co.th/images/icon/3dmanufact_color.png" /></span>
                        <span class="icon icon-globe bg-icon"></span>
                    </div>
                    <!--End introduction-icon-->
                    <div class="introduction-inner">
                        <h4>@Resources.Card_Manufacturing</h4>
                        <p>
                            @Resources.Card_Manufacturing_detail
                        </p>
                    </div>
                    <!--End introduction-inner-->
                </div>
                <!--End introduction-content-->
                <div class="introduction-content">
                    <div class="introduction-icon color4">
                        <span class="icon"><img src="https://www.datadesign.co.th/images/icon/3drealistic_color.png" /></span>
                        <span class="icon icon-circle-compass bg-icon"></span>
                    </div>
                    <!--End introduction-icon-->
                    <div class="introduction-inner">
                        <h4>@Resources.Card_Visualization</h4>
                        <p>
                            @Resources.Card_Visualization_detail
                        </p>
                    </div>
                    <!--End introduction-inner-->
                </div>
                <!--End introduction-content-->
                <div class="introduction-content">
                    <div class="introduction-icon color4">
                        <span class="icon"><img src="https://www.datadesign.co.th/images/icon/3dprocess_color.png" /></span>
                        <span class="icon icon-circle-compass bg-icon"></span>
                    </div>
                    <!--End introduction-icon-->
                    <div class="introduction-inner">
                        <h4>@Resources.Card_Process</h4>
                        <p>@Resources.Card_Process_detail</p>
                    </div>
                    <!--End introduction-inner-->
                </div>
            </div>
            <!--End col-lg-12-->
            <div class="col-lg-12">
                <div class="rectangle-three"></div>
                <div class="triangle-three"></div>
                <div class="rectangle-four"></div>
            </div>
        </div>
        <!--End row-->
    </div>
    <!--End container-->
</section>
<!--====================================================================
                        End Introduction
=====================================================================-->
<!--====================================================================
                        Start About
=====================================================================-->
<div class="about pt-100 pb-100" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-20">
                <div class="section-title">
                    <h2>@Resources.Welcome</h2>
                    <h3>Create the future in 3D space</h3>
                </div>
                <!--End section-title-->
                <p>
                    Data Design Solutions (Vietnam) Co., Ltd. was established on May 12, 2005, DataDesign Co., Ltd.
                    Nagoya City Headquarters. Experience in software, plant systems and machines. Which we can support the needs of users, from design concepts to machine use In order to give you the complete advantage of business, business, business model, software,
                    CAD / CAM, web-based collaboration, consulting, deployment, support, affiliates
                </p>
                <a class="btn-sm" href="#contact">@Resources.Contact_us</a>
            </div>
            <div class="col-lg-6 owl-carousel">
                <!--image 1-->
                <div class="about-img">
                    <div class="overlay"></div>
                    <img src="https://www.datadesign.co.th/images/artec/artec-leo/artec-leo-volvo.jpg" alt="">
                </div>
                <!--End about-img-->
                <!--image 3-->
                <div class="about-img">
                    <div class="overlay"></div>
                    <img src="https://www.datadesign.co.th/images/artec/artec-leo/artec-leo-2.png" alt="">
                </div>
                <!--End about-img-->
                <!--image 2-->
                <div class="about-img">
                    <div class="overlay"></div>
                    <img src="~/Content/Datadesign-home/bg-intro.jpg" />
                </div>
                <!--End about-img-->

            </div>
            <!--End col-lg-6-->
        </div>
        <!--End row-->
    </div>
    <!--End container-->
</div>
<!--====================================================================
                        End About
=====================================================================-->
<!--====================================================================
                        Start Skills
=====================================================================-->
<section class="skills pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="skills-video">
                    <div class="overlay"></div>
                    <a class="popup-video btn-play" href="https://www.youtube.com/watch?v=xNY3MTDAUpc">
                        <i class="fa fa-play"></i>
                    </a>
                </div>
                <!--End skills-video-->
            </div>
            <!--End col-lg-6-->
            <div class="col-lg-6">
                <div class="skills-content pt-20">
                    <div class="section-title">
                        <h2>What We Know</h2>
                        <h3>Meet Our Skills</h3>
                    </div>
                    <!--End section-title-->
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed ex suscipit, ultrices turpis eget.maximus ante. Orci varius natoque penatibus et magnis dis parturient montes.</p>
                    <a class="btn-sm" href="#">Read More</a>
                </div>
                <!--End skills-content-->
            </div>
            <!--End col-lg-6-->
        </div>
        <!--End row-->
    </div>
    <!--End container-->
</section>
<!--====================================================================
                        End Skills
=====================================================================-->
<!--====================================================================
                        Start Services
=====================================================================-->
<section class="services pt-95 pb-70" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 lg-offset-2 mx-auto">
                <div class="section-title text-center">
                    <h2>Our Services</h2>
                    <h3>What Can We Do</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed ex suscipit, ultrices turpis eget.maximus ante. Orci varius natoque penatibus et magnis dis parturient montes.</p>
                </div>
                <!--End section-title-->
            </div>
            <!--End col-lg-8-->
        </div>
        <!--End row-->
        <div class="row">
            <!--Service 1-->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="services-content">
                    <div class="services-icon color1">
                        <span class="icon icon-pencil"></span>
                        <span class="icon icon-pencil bg-icon"></span>
                    </div>
                    <!--End services-icon-->
                    <div class="services-inner">
                        <h4>User Interface</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed ex suscipit</p>
                    </div>
                    <!--End services-inner-->
                </div>
                <!--End services-content-->
            </div>
            <!--End col-lg-4-->
            <!--Service 2-->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="services-content">
                    <div class="services-icon color2">
                        <span class="icon icon-flag"></span>
                        <span class="icon icon-flag bg-icon"></span>
                    </div>
                    <!--End services-icon-->
                    <div class="services-inner">
                        <h4>User Experience</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed ex suscipit</p>
                    </div>
                    <!--End services-inner-->
                </div>
                <!--End services-content-->
            </div>
            <!--End col-lg-4-->
            <!--Service 3-->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="services-content">
                    <div class="services-icon color3">
                        <span class="icon icon-lightbulb"></span>
                        <span class="icon icon-lightbulb bg-icon"></span>
                    </div>
                    <!--End services-icon-->
                    <div class="services-inner">
                        <h4>Creative Design</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed ex suscipit</p>
                    </div>
                    <!--End services-inner-->
                </div>
                <!--End services-content-->
            </div>
            <!--End col-lg-4-->
            <!--Service 4-->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="services-content">
                    <div class="services-icon color4">
                        <span class="icon icon-puzzle"></span>
                        <span class="icon icon-puzzle bg-icon"></span>
                    </div>
                    <!--End services-icon-->
                    <div class="services-inner">
                        <h4>Clean Code</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed ex suscipit</p>
                    </div>
                    <!--End services-inner-->
                </div>
                <!--End services-content-->
            </div>
            <!--End col-lg-4-->
            <!--Service 5-->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="services-content">
                    <div class="services-icon color3">
                        <span class="icon icon-megaphone"></span>
                        <span class="icon icon-megaphone bg-icon"></span>
                    </div>
                    <!--End services-icon-->
                    <div class="services-inner">
                        <h4>Branding</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed ex suscipit</p>
                    </div>
                    <!--End services-inner-->
                </div>
                <!--End services-content-->
            </div>
            <!--End col-lg-4-->
            <!--Service 6-->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="services-content">
                    <div class="services-icon color1">
                        <span class="icon icon-tools-2"></span>
                        <span class="icon icon-tools-2 bg-icon"></span>
                    </div>
                    <!--End services-icon-->
                    <div class="services-inner">
                        <h4>24/7 Support</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed ex suscipit</p>
                    </div>
                    <!--End services-inner-->
                </div>
                <!--End services-content-->
            </div>
            <!--End col-lg-4-->
        </div>
        <!--End row-->
    </div>
    <!--End container-->
</section>
<!--====================================================================
                        End Services
=====================================================================-->
<!--====================================================================

=====================================================================-->
<!--====================================================================

=====================================================================-->
<!--====================================================================
                        Start Work
=====================================================================-->
<section class="work pt-95 pb-70" id="work">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 lg-offset-2 mx-auto">
                <div class="section-title text-center">
                    <h2>@Resources.Solution</h2>
                    <h3>@Resources.Solution_Product_title</h3>
                    <p>
                        @Resources.Solution_Product_detail
                    </p>
                </div>
                <!--End section-title-->
            </div>
            <!--End col-lg-8-->
            <div class="col-sm-12">
                <div class="work-filter text-center mb-40">
                    <!-- filter List -->
                    <ul id="control" class="list-filter">
                        <li class="active" data-filter="all">All</li>
                        <li data-filter="1">LineUp</li>
                        <li data-filter="2">3D Scanning</li>
                        <li data-filter="3">3D Printing</li>
                    </ul>
                </div>
                <!--End work-filter-->
            </div>
            <!--End col-sm-12-->
        </div>
        <!--end row-->
        <div id="filtr-container" class="row">
            <!--work1-->
            <div class="col-lg-4 col-md-6 col-sm-12 filtr-item" data-category="1" data-sort="value">
                <div class="work-item popup-img creative-work">
                    <div class="work-content">
                        <img src="https://www.datadesign.co.th/images/products-new/3D-scan/leo_car_in_min-300x200.jpg" alt="">
                        <div class="popup-title">
                            <div class="work-inner">
                                <h6 class="title">
                                    <a href="https://www.datadesign.co.th/images/products-new/3D-scan/leo_car_in_min-300x200.jpg">Artec Leo</a>
                                </h6>
                                <p class="category">3D Scanner</p>
                                <p class="category">for next generation processor</p>
                            </div>
                        </div>
                        <!--End popup-title-->
                    </div>
                    <!--End work-content-->
                </div>
                <!--End work-item-->
            </div>
            <!--End col-lg-4-->
            <!--work2-->
            <div class="col-lg-4 col-md-6 col-sm-12 filtr-item" data-category="1" data-sort="value">
                <div class="work-item popup-img creative-work">
                    <div class="work-content">
                        <img src="https://www.datadesign.co.th/images/products-new/3D-modeling/hero_gdx_web-300x212.jpg" alt="">
                        <div class="popup-title">
                            <div class="work-inner">
                                <h6 class="title">
                                    <a href="https://www.datadesign.co.th/images/products-new/3D-modeling/hero_gdx_web-300x212.jpg">Our Awesome Boxes</a>
                                </h6>
                                <p class="category">Branding | Design</p>
                            </div>
                        </div>
                        <!--End popup-title-->
                    </div>
                    <!--End work-content-->
                </div>
                <!--End work-item-->
            </div>
            <!--End col-lg-4-->
            <!--work3-->
            <div class="col-lg-4 col-md-6 col-sm-12 filtr-item" data-category="1" data-sort="value">
                <div class="work-item popup-img creative-work">
                    <div class="work-content">
                        <img src="/Content/Datadesign-home/img/work/work3.png" alt="">
                        <div class="popup-title">
                            <div class="work-inner">
                                <h6 class="title">
                                    <a href="img/work/work3.png">Our Awesome Boxes</a>
                                </h6>
                                <p class="category">Branding | Design</p>
                            </div>
                            <!--End work-inner-->
                        </div>
                        <!--End popup-title-->
                    </div>
                    <!--End work-content-->
                </div>
                <!--End work-item-->
            </div>
            <!--End col-lg-4-->
            <!--work4-->
            <div class="col-lg-4 col-md-6 col-sm-12 filtr-item" data-category="1" data-sort="value">
                <div class="work-item popup-img creative-work">
                    <div class="work-content">
                        <img src="/Content/Datadesign-home/img/work/work4.png" alt="">
                        <div class="popup-title">
                            <div class="work-inner">
                                <h6 class="title">
                                    <a href="img/work/work4.png">Our Awesome Boxes</a>
                                </h6>
                                <p class="category">Branding | Design</p>
                            </div>
                            <!--End work-inner-->
                        </div>
                        <!--End popup-title-->
                    </div>
                    <!--End work-content-->
                </div>
                <!--End work-item-->
            </div>
            <!--End col-lg-4-->
            <!--work5-->
            <div class="col-lg-4 col-md-6 col-sm-12 filtr-item" data-category="2" data-sort="value">
                <div class="work-item popup-img creative-work">
                    <div class="work-content">
                        <img src="/Content/Datadesign-home/img/work/work5.png" alt="">
                        <div class="popup-title">
                            <div class="work-inner">
                                <h6 class="title">
                                    <a href="img/work/work5.png">Our Awesome Boxes</a>
                                </h6>
                                <p class="category">Branding | Design</p>
                            </div>
                            <!--End work-inner-->
                        </div>
                        <!--End popup-title-->
                    </div>
                    <!--End work-content-->
                </div>
                <!--End work-item-->
            </div>
            <!--End col-lg-4-->
            <!--work6-->
            <div class="col-lg-4 col-md-6 col-sm-12 filtr-item" data-category="3" data-sort="value">
                <div class="work-item popup-img creative-work">
                    <div class="work-content">
                        <img src="/Content/Datadesign-home/img/work/work6.png" alt="">
                        <div class="popup-title">
                            <div class="work-inner">
                                <h6 class="title">
                                    <a href="img/work/work6.png">Our Awesome Boxes</a>
                                </h6>
                                <p class="category">Branding | Design</p>
                            </div>
                            <!--End work-inner-->
                        </div>
                        <!--End popup-title-->
                    </div>
                    <!--End work-content-->
                </div>
                <!--End work-item-->
            </div>
            <!--End col-lg-4-->
        </div>
        <!--End row-->
    </div>
    <!--End container-->
</section>
<!--====================================================================
                        End Work
=====================================================================-->
<!--====================================================================
                        Start numbers
=====================================================================-->
<section class="numbers pt-100 pb-100">
    <div class="number-wave">
        <img src="/Content/Datadesign-home/js/numbers-line.png" alt="">
    </div>
    <!--End number-wave-->
    <div class="container">
        <div class="row number-outer">
            <!--number 1-->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="number-item text-center">
                    <div class="number-content">
                        <h5 class="counter color1">356</h5>
                        <p>Clients</p>
                    </div>
                    <!--End number-content-->
                </div>
                <!--End number-item-->
            </div>
            <!--End col-lg-3-->
            <!--number 2-->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="number-item text-center mt-80">
                    <div class="number-content">
                        <h5 class="counter color2">425</h5>
                        <p>Projects</p>
                    </div>
                    <!--End number-content-->
                </div>
                <!--End number-item-->
            </div>
            <!--End col-lg-3-->
            <!--number 4-->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="number-item text-center mt-60">
                    <div class="number-content">
                        <h5 class="counter color4">1023</h5>
                        <p>Feedbacks</p>
                    </div>
                    <!--End number-content-->
                </div>
                <!--End number-item-->
            </div>
            <!--End col-lg-3-->
        </div>
        <!--End row-->
    </div>
    <!--End container-->
</section>
<!--====================================================================
                        End Numbers
=====================================================================-->
<!--====================================================================

=====================================================================-->
<!--====================================================================
                        Start Project
=====================================================================-->
<section class="projects pt-85 pb-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 lg-offset 1 mx-auto text-center">
                <h2>@Resources.Question_Contact_before<span>@Resources.Projects</span> @Resources.Question_Contact_after</h2>
                <a href="#contact" class="btn-sm">@Resources.Contact_us</a>
            </div>
        </div>
    </div>
</section>
<!--====================================================================
                        End Project
=====================================================================-->
<!--====================================================================

=====================================================================-->
<!--====================================================================
                        Start Contact
=====================================================================-->
<section class="contact pt-95 pb-70" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 lg-offset-2 mx-auto">
                <div class="section-title text-center">
                    <h2>@Resources.Contact_us</h2>
                    <h3>@Resources.Drop_us_message</h3>
                    <p></p>
                </div>
                <!--End section-title-->
            </div>
            <!--End col-lg-8-->
        </div>
        <!--End row-->
        <div class="row">
            <div class="col-lg-5">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="contact-content">
                                <div class="contact-icon color1">
                                    <span class="icon icon-streetsign"></span>
                                    <span class="icon icon-streetsign bg-icon"></span>
                                </div>
                                <!--End contact-icon-->
                                <div class="contact-inner">
                                    <h4>@Resources.Visit</h4>
                                    <p>Floor 7, Scetpa building, 19A Cong hoa Street, Ward 12, Tan Binh District, HCMC, Viet Nam</p>
                                </div>
                                <!--End contact-inner-->
                            </div>
                            <!--End contact-content-->
                        </div>
                        <!--End col-sm-12-->
                        <div class="col-sm-12">
                            <div class="contact-content">
                                <div class="contact-icon color2">
                                    <span class="icon icon-phone"></span>
                                    <span class="icon icon-phone bg-icon"></span>
                                </div>
                                <!--End contact-icon-->
                                <div class="contact-inner">
                                    <h4>@Resources.Call</h4>
                                    <p>(+84) 028 38115290</p>
                                </div>
                                <!--End contact-inner-->
                            </div>
                            <!--End contact-content-->
                        </div>
                        <!--End col-sm-12-->
                        <div class="col-sm-12">
                            <div class="contact-content">
                                <div class="contact-icon color3">
                                    <span class="icon icon-chat"></span>
                                    <span class="icon icon-chat bg-icon"></span>
                                </div>
                                <!--End contact-icon-->
                                <div class="contact-inner">
                                    <h4>@Resources.Contact_us !</h4>
                                    <p>truonglong@datadesign.co.jp</p>
                                </div>
                                <!--End contact-inner-->
                            </div>
                            <!--End contact-content-->
                        </div>
                        <!--End col-sm-12-->
                    </div>
                    <!--End row-->
                </div>
                <!--End container-->
            </div>
            <!--End col-lg-5-->
            <div class="col-lg-7">
                <div class="container">
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="name" placeholder="@Resources.Your_name">
                                </div>
                            </div>
                            <!--End col-lg-6-->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input class="form-control" type="email" name="email" placeholder="@Resources.Your_email">
                                </div>
                            </div>
                            <!--End col-lg-6-->
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="subject" placeholder="@Resources.Your_Subject">
                                </div>
                            </div>
                            <!--End col-lg-12-->
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <textarea class="form-control" name="message" placeholder="@Resources.Type_your_message"></textarea>
                                </div>
                            </div>
                            <!--End col-lg-12-->
                            <!--Contact button-->
                            <button type="submit" class="btn-sm" id="form-contact-submit">
                                @Resources.Btn_Send_Message
                            </button>
                        </div>
                        <!--End row-->
                    </form>
                    <!--End contact-form-->
                </div>
                <!--End container-->
            </div>
            <!--End col-lg-7-->
        </div>
        <!--End row-->
    </div>
    <!--End container-->
</section>
<!--====================================================================
                        End Contact
=====================================================================-->
