
@{
    var blog1 = (Outsourcing.Data.Models.Blog)ViewData["blog1"];
    var blog2 = (Outsourcing.Data.Models.Blog)ViewData["blog2"];
    var category = (IEnumerable<Outsourcing.Data.Models.ProductCategory>)ViewData["category"];
    HttpCookie cookie = Request.Cookies["_culture"];
}
<style>
    .services-content {
        min-height:318px;
    }
</style>
<!--====================================================================
                         Start Home
 =====================================================================-->
<section class="home" id="home">
    <div id="particles-js"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 sm-offset-2 mx-auto">
                <div class="banner-content text-center">
                    <h1>@Resources.DIGITAL_TRANSFORMATION</h1>
                    <p>
                        @Resources.Slide_description
                    </p>
                </div>
                <!--End banner-content-->
            </div>
            <!--End col-sm-8-->
        </div>
        <!--End row-->
        <div class="drop-down">
            <a href="#introduction"> @Resources.scroll_down</a>
            <span class="drop-line"></span>
        </div>
        <!--End drop-down-->
    </div>
    <!--End container-->
</section>
<!--====================================================================
                        End Home
=====================================================================-->
<!--====================================================================
                        Start Introduction
=====================================================================-->
<style>
    .introduction-icon img {
        width: 43px !important;
    }
</style>
<section class="introduction pt-100 pb-70" id="introduction">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rectangle-one"></div>
                <div class="triangle-one"></div>
                <div class="rectangle-two"></div>
            </div>
            <div class="col-lg-12 owl-carousel">

                <div class="introduction-content">
                    <div class="introduction-icon color2">
                        <span class="icon"><img src="https://www.datadesign.co.th/images/icon/3dgatoway_color.png" /></span>
                        <span class="icon icon-linegraph bg-icon"></span>
                    </div>
                    <!--End introduction-icon-->
                    <div class="introduction-inner">
                        <h4>@Resources.Card_Gate</h4>
                        <p>
                            @Resources.Card_Gate_detail
                        </p>
                    </div>
                    <!--End introduction-inner-->
                </div>
                <!--End introduction-content-->
                <div class="introduction-content">
                    <div class="introduction-icon color3">
                        <span class="icon "><img src="https://www.datadesign.co.th/images/icon/3dmanufact_color.png" /></span>
                        <span class="icon icon-globe bg-icon"></span>
                    </div>
                    <!--End introduction-icon-->
                    <div class="introduction-inner">
                        <h4>@Resources.Card_Manufacturing</h4>
                        <p>
                            @Resources.Card_Manufacturing_detail
                        </p>
                    </div>
                    <!--End introduction-inner-->
                </div>
                <!--End introduction-content-->
                <div class="introduction-content">
                    <div class="introduction-icon color4">
                        <span class="icon"><img src="https://www.datadesign.co.th/images/icon/3drealistic_color.png" /></span>
                        <span class="icon icon-circle-compass bg-icon"></span>
                    </div>
                    <!--End introduction-icon-->
                    <div class="introduction-inner">
                        <h4>@Resources.Card_Visualization</h4>
                        <p>
                            @Resources.Card_Visualization_detail
                        </p>
                    </div>
                    <!--End introduction-inner-->
                </div>
                <!--End introduction-content-->
                <div class="introduction-content">
                    <div class="introduction-icon color4">
                        <span class="icon"><img src="https://www.datadesign.co.th/images/icon/3dprocess_color.png" /></span>
                        <span class="icon icon-circle-compass bg-icon"></span>
                    </div>
                    <!--End introduction-icon-->
                    <div class="introduction-inner">
                        <h4>@Resources.Card_Process</h4>
                        <p>@Resources.Card_Process_detail</p>
                    </div>
                    <!--End introduction-inner-->
                </div>
            </div>
            <!--End col-lg-12-->
            <div class="col-lg-12">
                <div class="rectangle-three"></div>
                <div class="triangle-three"></div>
                <div class="rectangle-four"></div>
            </div>
        </div>
        <!--End row-->
    </div>
    <!--End container-->
</section>
<!--====================================================================
                        End Introduction
=====================================================================-->
<!--====================================================================
                        Start About
=====================================================================-->
<div class="about pt-100 pb-100" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-20">
                <div class="section-title">
                    <h2>@Resources.Welcome</h2>
                    @if (cookie == null || cookie.Value.Equals("vi"))
                    {
                        <h3>@blog1.Title</h3>
                    }
                    else
                    {
                        <h3>@blog1.TitleEng</h3>
                    }
                </div>
                <!--End section-title-->
                @if (cookie == null || cookie.Value.Equals("vi"))
                {
                    <p>@blog1.Description</p>
                }
                else
                {
                    <p>@blog1.DescriptionEng</p>
                }
                <a class="btn-sm" href="#contact">@Resources.Contact_us</a>
            </div>
            <div class="col-lg-6 owl-carousel">
                <!--image 1-->
                <div class="about-img">
                    <div class="overlay"></div>
                    <img src="@blog1.BlogImage_Default" alt="">
                </div>
                <!--End about-img-->
                <!--image 3-->
                <div class="about-img">
                    <div class="overlay"></div>
                    <img src="@blog1.BlogImage_Option" alt="">
                </div>
                <!--End about-img-->
                <!--image 2-->
                <div class="about-img">
                    <div class="overlay"></div>
                    <img src="@blog1.BlogImage_Square" />
                </div>
                <!--End about-img-->

            </div>
            <!--End col-lg-6-->
        </div>
        <!--End row-->
    </div>
    <!--End container-->
</div>
<!--====================================================================
                        End About
=====================================================================-->
<!--====================================================================
                        Start Skills
=====================================================================-->
<section class="skills pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="skills-video">
                    <div class="overlay">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/3vQtiW5_ISg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                </div>
                <!--End skills-video-->
            </div>
            <!--End col-lg-6-->
            <div class="col-lg-6">
                <div class="skills-content pt-20">
                    <div class="section-title">
                        <h2>@Resources.What_we_know</h2>
                        @*<h3>Meet Our Skills</h3>*@
                        @if (cookie == null || cookie.Value.Equals("vi"))
                        {
                            <h3>@blog2.Title</h3>
                        }
                        else
                        {
                            <h3>@blog2.TitleEng</h3>
                        }
                    </div>
                    <!--End section-title-->
                    @if (cookie == null || cookie.Value.Equals("vi"))
                    {
                        <p>@blog2.Description</p>
                    }
                    else
                    {
                        <p>@blog2.DescriptionEng</p>
                    }

                    <a class="btn-sm" href="#">@Resources.Read_more</a>
                </div>
                <!--End skills-content-->
            </div>
            <!--End col-lg-6-->
        </div>
        <!--End row-->
    </div>
    <!--End container-->
</section>
<!--====================================================================
                        End Skills
=====================================================================-->
<!--====================================================================
                        Start Services
=====================================================================-->
<section class="services pt-95 pb-70" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 lg-offset-2 mx-auto">
                <div class="section-title text-center">
                    <h2>@Resources.Our_Services</h2>
                    <h3>@Resources.What_Can_We_Do</h3>
                    <p>@Resources.Our_Services_Detail</p>
                </div>
                <!--End section-title-->
            </div>
            <!--End col-lg-8-->
        </div>
        <!--End row-->
        <div class="row">
            <!--Service 1-->
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="services-content">
                    <div class="services-icon color1">
                        <span class="icon icon-pencil"></span>
                        <span class="icon icon-pencil bg-icon"></span>
                    </div>
                    <!--End services-icon-->
                    <div class="services-inner">
                        <h4>@Resources.User_Interface</h4>
                        <p>@Resources.User_Interface_detail</p>
                    </div>
                    <!--End services-inner-->
                </div>
                <!--End services-content-->
            </div>
            <!--End col-lg-4-->
            <!--Service 2-->
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="services-content">
                    <div class="services-icon color2">
                        <span class="icon icon-flag"></span>
                        <span class="icon icon-flag bg-icon"></span>
                    </div>
                    <!--End services-icon-->
                    <div class="services-inner">
                        <h4>@Resources.User_Experience</h4>
                        <p>@Resources.User_Experience_detail</p>
                    </div>
                    <!--End services-inner-->
                </div>
                <!--End services-content-->
            </div>
            <!--End col-lg-4-->
            <!--Service 3-->
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="services-content">
                    <div class="services-icon color3">
                        <span class="icon icon-lightbulb"></span>
                        <span class="icon icon-lightbulb bg-icon"></span>
                    </div>
                    <!--End services-icon-->
                    <div class="services-inner">
                        <h4>@Resources.Creative_Design</h4>
                        <p>@Resources.Creative_Design_detail</p>
                    </div>
                    <!--End services-inner-->
                </div>
                <!--End services-content-->
            </div>
            <!--End col-lg-4-->
            <!--Service 4-->
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="services-content">
                    <div class="services-icon color4">
                        <span class="icon icon-puzzle"></span>
                        <span class="icon icon-puzzle bg-icon"></span>
                    </div>
                    <!--End services-icon-->
                    <div class="services-inner">
                        <h4>@Resources.Clean_Code</h4>
                        <p>@Resources.Clean_Code_detail</p>
                    </div>
                    <!--End services-inner-->
                </div>
                <!--End services-content-->
            </div>
            <!--End col-lg-4-->
            <!--Service 5-->
            
            <!--End col-lg-4-->
        </div>
        <!--End row-->
    </div>
    <!--End container-->
</section>
<!--====================================================================
                        End Services
=====================================================================-->
<!--====================================================================

=====================================================================-->
<!--====================================================================
   
=====================================================================-->
<!--====================================================================
                        Start Work
=====================================================================-->
<section class="work pt-95 pb-70" id="work">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 lg-offset-2 mx-auto">
                <div class="section-title text-center">
                    <h2>@Resources.Solution</h2>
                    <h3>@Resources.Solution_Product_title</h3>
                    <p>
                        @Resources.Solution_Product_detail
                    </p>
                </div>
                <!--End section-title-->
            </div>
            <!--End col-lg-8-->
            <div class="col-sm-12">
                <div class="work-filter text-center mb-40">
                    <!-- filter List -->
                    <ul id="control" class="list-filter">
                        <li class="active" data-filter="all">All</li>
                        @foreach (var cate in category)
                        {
                            <li data-filter="@cate.Id">@cate.Name</li>
                        }
                        @*<li data-filter="2">3D Scanning</li>
                            <li data-filter="3">3D Printing</li>*@
                    </ul>
                </div>
                <!--End work-filter-->
            </div>
            <!--End col-sm-12-->
        </div>
        <!--end row-->
        <div id="filtr-container" class="row">
            <!--work1-->
            @foreach (var product in category)
            {
                foreach (var pro in product.Products)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12 filtr-item" data-category="@pro.ProductCategoryId" data-sort="value">
                        <div class="work-item popup-img creative-work">
                            <div class="work-content">
                                <img src="@pro.ProductPictureMappings.FirstOrDefault().Picture.Url" alt="">
                                <div class="popup-title">
                                    <div class="work-inner">
                                        <a href="@pro.Content" class="title" target="_blank">
                                            <h6 style="color:#E06E31">
                                                @if (cookie.Value == "vi")
                                                {
                                                    @pro.Name

                                                }
                                                else
                                                {
                                                    @pro.NameEng
                                                }
                                            </h6>
                                        </a>
                                        @if (cookie.Value == "vi")
                                        {
                                            <p class="category">@pro.Description</p>
                                        }
                                        else
                                        {
                                            <p class="category">@pro.DescEng</p>
                                        }
                                    </div>
                                </div>
                                <!--End popup-title-->
                            </div>
                            <!--End work-content-->
                        </div>
                        <!--End work-item-->
                    </div>
                }
            }

        </div>
        <!--End container-->
</section>
<!--====================================================================
                        End Work
=====================================================================-->
<!--====================================================================
                        Start numbers
=====================================================================-->
<section class="numbers pt-100 pb-100">
    <div class="number-wave">
        <img src="/Content/Datadesign-home/js/numbers-line.png" alt="">
    </div>
    <!--End number-wave-->
    <div class="container">
        <div class="row number-outer">
            <!--number 1-->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="number-item text-center">
                    <div class="number-content">
                        <h5 class="counter color1">356</h5>
                        <p>@Resources.Clients</p>
                    </div>
                    <!--End number-content-->
                </div>
                <!--End number-item-->
            </div>
            <!--End col-lg-3-->
            <!--number 2-->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="number-item text-center mt-80">
                    <div class="number-content">
                        <h5 class="counter color2">425</h5>
                        <p>@Resources.Projects</p>
                    </div>
                    <!--End number-content-->
                </div>
                <!--End number-item-->
            </div>
            <!--End col-lg-3-->
            <!--number 4-->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="number-item text-center mt-60">
                    <div class="number-content">
                        <h5 class="counter color4">1023</h5>
                        <p>@Resources.Feedbacks</p>
                    </div>
                    <!--End number-content-->
                </div>
                <!--End number-item-->
            </div>
            <!--End col-lg-3-->
        </div>
        <!--End row-->
    </div>
    <!--End container-->
</section>
<!--====================================================================
                        End Numbers
=====================================================================-->
<!--====================================================================

=====================================================================-->
<!--====================================================================
                        Start Project
=====================================================================-->
<section class="projects pt-85 pb-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 lg-offset 1 mx-auto text-center">
                <h2>@Resources.Question_Contact_before<span>@Resources.Projects</span> @Resources.Question_Contact_after</h2>
                <a href="#contact" class="btn-sm">@Resources.Contact_us</a>
            </div>
        </div>
    </div>
</section>
<!--====================================================================
                        End Project
=====================================================================-->
<!--====================================================================

=====================================================================-->
<!--====================================================================
                        Start Contact
=====================================================================-->
<section class="contact pt-95 pb-70" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 lg-offset-2 mx-auto">
                <div class="section-title text-center">
                    <h2>@Resources.Contact_us</h2>
                    <h3>@Resources.Drop_us_message</h3>
                    <p></p>
                </div>
                <!--End section-title-->
            </div>
            <!--End col-lg-8-->
        </div>
        <!--End row-->
        <div class="row">
            <div class="col-lg-5">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="contact-content">
                                <div class="contact-icon color1">
                                    <span class="icon icon-streetsign"></span>
                                    <span class="icon icon-streetsign bg-icon"></span>
                                </div>
                                <!--End contact-icon-->
                                <div class="contact-inner">
                                    <h4>@Resources.Visit</h4>
                                    <p>@Resources.Address_contact</p>
                                </div>
                                <!--End contact-inner-->
                            </div>
                            <!--End contact-content-->
                        </div>
                        <!--End col-sm-12-->
                        <div class="col-sm-12">
                            <div class="contact-content">
                                <div class="contact-icon color2">
                                    <span class="icon icon-phone"></span>
                                    <span class="icon icon-phone bg-icon"></span>
                                </div>
                                <!--End contact-icon-->
                                <div class="contact-inner">
                                    <h4>@Resources.Call</h4>
                                    <p>(+84) 028 38115290</p>
                                </div>
                                <!--End contact-inner-->
                            </div>
                            <!--End contact-content-->
                        </div>
                        <!--End col-sm-12-->
                        <div class="col-sm-12">
                            <div class="contact-content">
                                <div class="contact-icon color3">
                                    <span class="icon icon-chat"></span>
                                    <span class="icon icon-chat bg-icon"></span>
                                </div>
                                <!--End contact-icon-->
                                <div class="contact-inner">
                                    <h4>@Resources.Contact_us_email</h4>
                                    <p>truonglong@datadesign.co.jp</p>
                                </div>
                                <!--End contact-inner-->
                            </div>
                            <!--End contact-content-->
                        </div>
                        <!--End col-sm-12-->
                    </div>
                    <!--End row-->
                </div>
                <!--End container-->
            </div>
            <!--End col-lg-5-->
            <div class="col-lg-7">
                <div class="container">
                    <form action="../Home/SendMessage" method="post" class="contact-form">
                        <div class="row">
                            <input type="hidden" name="Phone" value="0909090909" />
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="Name" placeholder="@Resources.Your_name">
                                </div>
                            </div>
                            <!--End col-lg-6-->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input class="form-control" type="email" name="skype" placeholder="@Resources.Your_email">
                                </div>
                            </div>
                            <!--End col-lg-6-->
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="Yahoo" placeholder="@Resources.Your_Subject">
                                </div>
                            </div>
                            <!--End col-lg-12-->
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <textarea class="form-control" name="Description" placeholder="@Resources.Type_your_message"></textarea>
                                </div>
                            </div>
                            <!--End col-lg-12-->
                            <!--Contact button-->
                            <button type="submit" class="btn-sm" id="form-contact-submit">
                                @Resources.Btn_Send_Message
                            </button>
                        </div>
                        <!--End row-->
                    </form>
                    <!--End contact-form-->
                </div>
                <!--End container-->
            </div>
            <!--End col-lg-7-->
        </div>
        <!--End row-->
    </div>
    <!--End container-->
</section>
<!--====================================================================
                        End Contact
=====================================================================-->
