@model IEnumerable<Outsourcing.Data.Models.Product>
@{

    HttpCookie cookie = Request.Cookies["_culture"];
}
@foreach (var item in Model)
{

    <div class="single-product">
        <div class="pro-image-hover">
            <a href="/san-pham-chi-tiet/@item.Slug" class="pro-image">

                @if (cookie == null || cookie.Value.Equals("vi"))
                {
                    <img class="primary" src="@item.ProductPictureMappings.FirstOrDefault().Picture.Url" alt="@item.Name" />
                }
                else
                {
                    <img class="primary" src="@item.ProductPictureMappings.FirstOrDefault().Picture.Url" alt="@item.NameEng" />
                }

            </a>

        </div>


        <div class="pro-bref fix">
            @if (cookie == null || cookie.Value.Equals("vi"))
            {
                <a class="pro-name" href="/san-pham-chi-tiet/@item.Slug">@item.Name</a>
            }
            else
            {
                <a class="pro-name" href="/san-pham-chi-tiet/@item.Slug">@item.NameEng</a>
            }
            <div class="pro-price float-right">

                @if (cookie != null && cookie.Value.Equals("vi"))
                {
                    if (item.IsHomePage == true)
                    {
                        <span class="new">@item.Price.ToString("#,##0") đ</span>
                        <span class="old">@item.OldPrice.ToString("#,##0") đ</span>
                    }
                    else
                    {
                        <span class="new">@item.OldPrice.ToString("#,##0") đ</span>
                    }

                }
                else
                {
                    if (item.IsHomePage == true)
                    {
                        <span class="new">
                            @{var prices = Math.Round(((item.Price) / 23000), 3);



                            } @prices $
                        </span>
                        <span class="old">
                            @{var oldPrice = Math.Round(((item.OldPrice) / 23000), 3);

                            } @oldPrice $
                        </span>
                    }
                    else
                    {
                        <span class="new">
                            @{var oldPrice = Math.Round(((item.OldPrice) / 23000), 3);

                            } @oldPrice $
                        </span>
                    }

                }




                
            </div>
        </div>
    </div>


}
